

    .chat-container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      height: 530px;
    }

    .chat-title {
      text-align: center;
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 20px;
    }
    .join-room-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .join-button, .send-button {
        background-color: #000; /* Black background */
        color: #fff; /* White text */
        border: none;
        border-radius: 5px;
        
        cursor: pointer;
        font-size: 14px;
      }

     

    .chat-box {
      height: 300px;
      overflow-y: auto;
      border-radius: 10px;
      border: 1px solid #ddd;
      padding: 10px;
      background-color: #fff;
      margin-bottom: 20px;
    }
    .chat-message {
      margin-bottom: 15px;
      background-color: #f1f1f1;
      
      border-radius: 5px;
    }
    .chat-message strong {
      color: #007bff;
    }
    .chat-message small {
      color: #999;
      font-size: 12px;
      margin-left: 10px;
    }
    .message-input-container{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
   
    .input-field {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 14px;
        outline: none;
        margin-right: 10px;
        width: 450px;
      }
      .input-field::placeholder {
        color: #bbb;
      }
